{% extends "../base.html" %}

{% load static %}

{% block title %} Login page {% endblock %}


{% block content %}


<h1>Este es el sitio de cambio Datos</h1>
<div>
{%if form.errors%}
    <p style="color: red;"> Revisa este campo</p>
{% endif %}
    <form action="" method="POST" enctype="multipart/form-data" > {% csrf_token %}  
            {{form.as_p}}
        <input type="submit" value="Ingresar">
    </form>
</div>

{% endblock %}

{% block js %}

<script src="{% static '/vuejs/views/Login/Login.js' %}"></script>

{% endblock %}
