{% extends "../base.html" %}

{% block title %} Home page {% endblock %}


{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <a href="#">
                            <img src="https://argon-dashboard-pro-laravel.creative-tim.com/argon/img/theme/team-1.jpg"
                                class="avatar">
                        </a>
                        <div class="mx-3">
                            <a href="#" class="text-dark font-weight-600 text-sm">John Snow</a>
                            <small class="d-block text-muted">3 days ago</small>
                        </div>
                    </div>
                    <div class="pt-3">
                        <p class="text-sm lh-160 mb-0">Cras sit amet nibh libero nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio
                            vestibulum in vulputate viverra turpis.</p>
                    </div>
                    <div class="pt-3">
                        <div class="icon-actions">
                            <a href="#" class="like active">
                                <i class="ni ni-like-2"></i>
                                <span class="text-muted">50 me gusta</span>
                            </a>
                            <a href="#">
                                <i class="fas fa-comment-alt"></i>
                                <span class="text-muted">1 comentario</span>
                            </a>
                            <a href="#">
                                <i class="ni ni-curved-next"></i>
                                <span class="text-muted">2 compartidos</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <!-- Comments -->

                    <div class="media align-items-center">
                        <img alt="Image placeholder" class="avatar avatar-lg rounded-circle mr-4"
                            src="https://argon-dashboard-pro-laravel.creative-tim.com/argon/img/theme/team-1.jpg">
                        <div class="media-body">
                            <form>
                                <textarea class="form-control" placeholder="Escribe un comentario" rows="1"></textarea>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="mb-1">
                        <div class="media media-comment">
                            <img alt="Image placeholder" class="avatar avatar-lg media-comment-avatar rounded-circle"
                                src="https://argon-dashboard-pro-laravel.creative-tim.com/argon/img/theme/team-1.jpg">
                            <div class="media-body">
                                <div class="media-comment-text">
                                    <h6 class="h5 mt-0">Michael Lewis</h6>
                                    <p class="text-sm lh-160">Cras sit amet nibh libero nulla vel metus scelerisque ante
                                        sollicitudin. Cras purus odio
                                        vestibulum in vulputate viverra turpis.</p>
                                    <div class="icon-actions">
                                        <a href="#" class="like active">
                                            <i class="ni ni-like-2"></i>
                                            <span class="text-muted">3 likes</span>
                                        </a>
                                        <a href="#">
                                            <i class="ni ni-curved-next"></i>
                                            <span class="text-muted">2 shares</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}