<div class="modal fade" id="publicarmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-default text-white">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="exampleModalLabel">Agregar Publicación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="text-white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">
                        <div class="d-flex w-100 align-items-center mb-2"><img
                                src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg"
                                alt="Image placeholder" class="avatar avatar-xs mr-2">
                            <h5 class="mb-1 text-white">Jessica Jones</h5>
                        </div>
                    </label>
                    <textarea class="form-control form-control-flush" placeholder="¿Qué quieres compartir?"
                        id="exampleFormControlTextarea1" rows="3" style="resize: none;"></textarea>
                </div>
                <button type="button" class="btn btn-slack btn-icon-only rounded-circle">
                    <span class="btn-inner--icon"><i class="fas fa-photo-video"></i></span>
                </button>
                <button type="button" class="btn btn-facebook btn-icon-only rounded-circle">
                    <span class="btn-inner--icon"><i class="fas fa-user-tag"></i></span>
                </button>
                <div class="d-inline-block">
                    <input class="form-control form-control-sm" type="text" placeholder="busca a quien etiquetar" size="5">
                </div>
                <button type="button" class="btn btn-secondary btn-sm">
                    <span class="btn-inner--icon">Pedro <i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-facebook btn-block" disabled>Publicar</button>
            </div>
        </div>
    </div>
</div>