{% extends "../base.html" %}

{% load static %}

{% block title %} Home page {% endblock %}


{% block content %}

{% include "../Components/navbar.html" %}

<div class="container my-5" id="feed">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-12 d-md-block d-none">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-12">

            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center my-3">
                        <a href="/home/">
                            {% if user.photo %}
                            <img src="{{user.photo.url}}" class="avatar rounded-circle">
                            {% else %}
                            <img src="https://argon-dashboard-pro-laravel.creative-tim.com/argon/img/theme/team-1.jpg"
                                class="avatar rounded-circle">
                            {% endif %}
                        </a>
                        <div class="mx-3 w-100">
                            <a class="form-control form-control-muted" data-toggle="modal"
                                data-target="#publicarmodal">¿Qué quieres publicar?</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" v-if="publicationlist.length===0">
                <div class="card-body text-center">
                    <p class="text-muted text-sm lh-160 mb-0"><i class="fas fa-info-circle"></i> No hay nada que
                        mostrar</p>
                </div>
            </div>
            <div class="card" v-for="(item,index) in publicationlist">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <a href="#">
                            <img v-if="item.user.photo" :src="'/media/'+item.user.photo"
                                class="avatar">
                            <img v-else src="https://argon-dashboard-pro-laravel.creative-tim.com/argon/img/theme/team-1.jpg"
                                class="avatar">
                        </a>
                        <div class="mx-3">
                            <a href="#" class="text-dark font-weight-600 text-sm">[[item.user.name]]</a>
                            <small class="d-block text-muted">[[item.created_at]]</small>
                        </div>
                    </div>
                    <div class="pt-3">
                        <p class="text-sm lh-160 mb-0">[[item.content]]</p>
                    </div>
                    <div class="pt-3">
                        <div class="icon-actions">
                            <a href="#" class="like active">
                                <i class="ni ni-like-2"></i>
                                <span class="text-muted">50 me gusta</span>
                            </a>
                            <a href="/publication/1">
                                <i class="fas fa-comment-alt"></i>
                                <span class="text-muted">1 comentario</span>
                            </a>
                            <a href="#">
                                <i class="ni ni-curved-next"></i>
                                <span class="text-muted">2 compartidos</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center my-3">
                        <a href="/home/">
                            {% if user.photo %}
                            <img src="{{user.photo.url}}" class="avatar rounded-circle">
                            {% else %}
                            <img src="https://argon-dashboard-pro-laravel.creative-tim.com/argon/img/theme/team-1.jpg"
                                class="avatar rounded-circle">
                            {% endif %}
                        </a>
                        <div class="mx-3 w-100">
                            <input class="form-control form-control-muted" type="text"
                                placeholder="Escribe un comentario...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "../Components/publicar.html" %}
</div>

{% endblock %}

{% block js %}

<script src="{% static '/vuejs/views/Feed/Feed.js' %}"></script>

{% endblock %}