{% extends "../base.html" %}

{% load static %}

{% block title %} Chat page {% endblock %}


{% block content %}

{% include "../Components/navbar.html" %}

<style>
    #their-video {
        width: 100%;
        border-radius: 8px;
        border-color: #4a4a4a;
        border-style: solid;
        border-width: 2px;
        background-color: black;
    }

    #my-video {
        width: 25%;
        position: absolute;
        top: 25px;
        left: 25px;
        border-radius: 8px;
        border-color: #4a4a4a;
        border-style: solid;
        border-width: 1px;
        background-color: black;
    }
</style>

<div class="container my-5" id="chat">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-12 d-md-block d-none" id="card-friends">
            <!-- List group -->
            {% include "../Components/contactos.html" %}
        </div>
        <div v-if="isChatSelect" class="col-lg-8 col-md-7 col-12" id="card-chat">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div>
                        <button class="btn d-md-none d-inline-block" @click="showFriendList()"><i
                                class="fas fa-chevron-left"></i></button>
                        <img alt="Image placeholder"
                            src="https://argon-dashboard-pro-laravel.creative-tim.com/argon/img/theme/team-1.jpg"
                            class="avatar rounded-circle">
                        <h4 class="mb-0 ml-2 text-sm d-inline-block">[[friend.name]] <span
                                :class="'text-'+(friend.is_active?'success':'muted')">●</span></h4>
                    </div>
                    <div>
                        <button class="btn btn-icon-only btn-success" @click="callFriend()">
                            <i class="fas fa-phone fa-lg"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body scrollbar-container panel-body" id="scrollbar-chat" style="height:260px">
                    <div class="container-fluid chat-container">
                        <div v-for="(item,index) in messages">
                            <div v-if="item.user_id === friend.nickname" class="row justify-content-start">
                                <div class="col-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-0">[[ item.content ]]</p>
                                            <div>
                                                <small class="opacity-60"><i class="far fa-clock"></i> [[
                                                    item.created_at ]]</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-else class="row justify-content-end text-right">
                                <div class="col-auto">
                                    <div class="card bg-gradient-primary text-white">
                                        <div class="card-body p-2">
                                            <p class="text-white mb-0">[[ item.content ]]</p>
                                            <div>
                                                <small class="opacity-60">[[ item.created_at ]]</small>
                                                <i class="ni ni-check-bold"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex align-items-center my-3">
                        <a href="/home/">
                            {% if user.photo %}
                            <img src="{{user.photo.url}}" class="avatar rounded-circle">
                            {% else %}
                                <img src="https://argon-dashboard-pro-laravel.creative-tim.com/argon/img/theme/team-1.jpg" class="avatar rounded-circle">
                            {% endif %}
                        </a>
                        <div class="mx-3 w-100">
                            <form role="form" method="post" @submit.prevent="sendMessage">
                                <div class="form-group">
                                    <div class="input-group input-group-merge mb-4" id="input-group-message">
                                        <input v-model="message_send" class="form-control"
                                            placeholder="Escribir mensaje" type="text" @focus="focusedInputMessage"
                                            @blur="blurInputMessage">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="ni ni-send"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="col-lg-8 col-md-7 col-12" id="card-chat">
            <div class="card h-100">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <div>
                        <div class="text-center"><i class="far fa-comments fa-3x"></i></div>
                        <div class="text-center">Comienza a chatear con un amigo</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-call-advert" tabindex="-1" aria-labelledby="titleAdvertlabel" aria-hidden="true">
        <div class="modal-dialog mt-7">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleAdvertlabel">Tienes una llamada</h5>
                    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <h2>Llamada entrante de [[ friend.nickname ]]</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="rejectCall()">Cerrar</button>
                    <button type="button" class="btn btn-primary" @click="aceptCall()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-current-call" tabindex="-1" aria-labelledby="titleCalllabel" aria-hidden="true">
        <div class="modal-dialog mt-7">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleCalllabel">Estás en una llamda con [[ friend.nickname ]]</h5>
                    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="endCall()">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <video id="their-video" autoplay=""></video>
                    <video id="my-video" muted="true" autoplay=""></video>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" id="btn-mute-audio" @click="muteAudioCall()"><i
                            class="fas fa-microphone"></i></button>
                    <button type="button" class="btn btn-success" id="btn-mute-video" @click="muteVideoCall()"><i
                            class="fas fa-video"></i></button>
                    <button type="button" class="btn btn-danger" @click="endCall()"><i
                            class="fas fa-phone"></i></button>
                </div>
            </div>
        </div>
    </div>


    <input type="hidden" id="user-name" value="{{ user.nickname }}">
</div>


{% endblock %}

{% block js %}


<script src="{% static '/peer/peer.js' %}"></script>
<script src="{% static '/vuejs/views/Chat/Chat.js' %}"></script>

{% endblock %}